h1 {
    color: black;
    text-align: center;
    text-decoration: underline;
}

header > p {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

main {
    text-align: center;
    margin-top: 20vh;
}
